/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Reset font */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*  CSS phần chung */
.A, .C {
    background-color: #293f50;
}

/* Header */
.head {
    max-width: 960px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between ;
    padding: 0 30px;
}

.header h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    padding: 40px 0 22px;
    border-top: 4px solid #648880 ;
    text-transform: uppercase;
}
.header h1:hover {
    color: #648880;
    cursor: pointer;
}
.header .menu {
    display: none;
}

/* NavBar */
.nav .date {
    color: #648880;
    font-size: 21px;
    margin: 66px 0 22px;
    text-align: right;
    font-weight:50;
}
.nav .date>h3 {
    font-weight: 100;
}

.nav .navbar ul {
    list-style: none;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.navbar-moible ul>li,
.nav .navbar ul>li{
    margin: 0 10px;
}
.nav .navbar ul>li>a {
    color: #fff;
    text-decoration: none;
    vertical-align: baseline;
    font-weight: 400;
    text-transform: uppercase;
}
.nav .navbar ul>li>a:hover {
    color: #648880;
}
.navbar-mobile {
    display: none;
}
.navbar-mobile ul {
    background-color: rgb(0,0,0);
    list-style: none;
    text-align: center;
    line-height: 65px;
}
.navbar-mobile>ul>li>a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    vertical-align: baseline;
    font-weight: 400;
    text-transform: uppercase;
}
.close {
    display: none;
}

/* Section */
.section {
    max-width: 960px;
    padding: 22px 80px 66px;
    margin: 0 auto;
    text-align: center;
}
.section>.h2 {
    font-size: 36px;
    font-weight: 100;
    color: #648880;
}
.section>p {
    color: #fff;
    font-size: 24px;
    margin: 0 auto 22px;
    font-weight: 100;
}
.section .btn {
    max-width: 183px;
    height: auto;
    margin: auto;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 44px;
}
.section .btn:hover{
    background-color: #fff;
    color: #648880;
    cursor: pointer;
}

/* Content */
.B .content {
    padding-top: 66px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}
.content>.col {
    padding: 0 15px;
    flex:1
}
.content>.col>h5 {
    color: #a9b2b9;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-weight: 500;
}
.img-list {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 22px;
}
.col>.img-list:hover {
    cursor: pointer;
}
.content>.col>h3 {
    color: #648880;
    font-size: 21px;
    margin-bottom: 22px;
    font-weight: 100;
}
.content>.col>h3:hover {
    color: #a9b2b9;
    cursor: pointer;
}
.content>.col>p {
    color: #888;
    margin-bottom: 22px;
    font-size: 16px;
}

/* Footer */
.footer {
    max-width: 960px;
    padding: 44px 15px;
    margin: 0 auto;
}
.C .footer {
    display: flex;
    justify-content: space-between;
}
.C .ending {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.C .logo {
    color: #648880;
}
.C .ending>li {
    color: #fff;
    margin-left: 20px;
}
.C .ending>li:hover {
    color: #648880;
    cursor: pointer;
}
.logo, .ending {
    line-height: 22px;
    font-size: 14px;
}
